<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../parts/comment/header %>
    <title>NORHING HERE</title>
</head>
<body>
   <h1>NOTHING HERE</h1>
    <%- include ../parts/comment/footer %>
</body>
</html>